.modal {
  visibility: hidden;
  opacity: 0;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close {
  opacity: 0.4;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  color: #212121;
  background: transparent;
  cursor: pointer;
  font-size: 32px;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
  position: absolute;
  z-index: 1000;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  padding: 0;
}

.modal__close_type_preview img {
  display: block;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.modal__close_type_preview:hover img {
  opacity: 0.4;
}

.modal__close:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 36px;
  font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121b2;
  display: block;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding-left: 12px;
  padding-bottom: 16px;
  padding-top: 16px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid #21212166;
}

.modal__input:hover {
  border-color: #000000;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__input_type_error {
  border: 1px solid #ff000099;
}

.modal__error {
  display: block;
  color: #ff0000b2;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  margin-top: 8px;
}

.modal__submit-btn {
  border: none;
  background: #212121;
  padding: 18px 58px;
  color: #fff;
  border-radius: 8px;
  gap: 8px;
  max-width: 156px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}

.modal__submit-btn_disabled {
  background: #212121;
  opacity: 0.5;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
  overflow: visible;
  color: white;
  padding: 0;
  text-align: left;
}

.modal__caption {
  display: inline-block;
  background-color: #212121;
  color: white;
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  text-align: left;
}

@media screen and (max-width: 480px) {
  .modal__title {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin: 0 0 24px;
    width: 100%;
  }

  .modal__input {
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 627px) {
  /*Placed below the 480px media query to avoid being overwritten. */
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}
